body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://coolbackgrounds.io/images/unsplash/anders-jilden-medium-5d01610e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-family: "Urbanist", sans-serif;
  color: #ffffff;
  font-size: calc(7px + 0.7vw);
  caret-color: transparent;
}

.game-section {
  width: 50%;
  max-width: 450px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Title {
  font-size: 2rem;
}

.Grid {
  border-radius: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}
.Game {
  flex-wrap: wrap;
}

.Setting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(220, 220, 220, 0.8);
  color: #222;
  transition: all 2s;
}
.levels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="button"] {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0.5rem;
}

input[type="button"]:hover,
button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.Grid input {
  border-radius: 2rem;
  border: 1px solid #fff;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: 70%;
  padding: 1rem;
}

.setting_button {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: #aaa solid 1px;
}

.setting_button img {
  width: 100%;
  height: 100%;
}

.Game input {
  flex: 1 1 28%;
  padding: 0px;
}

.Grid .x_player:checked {
  background-image: url(images/x_player.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Grid .o_player:checked {
  background-image: url(images/o_player.png);
  background-repeat: no-repeat;
  background-size: cover;
}
